* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
    
}

html{
    scroll-behavior: smooth;
}


:root {
    --azulfuerte:#274C77;
    --grisclaro:#E7ECEF;
    --azulpetro:#6096BA;
    --celeste:#A3CEF1;
    --grisoscuro:#8B8C89;
    --celesteclaro:rgb(207, 237, 237);
    --naranja:#e76f51;
    --violeta:#cdb4db;
}

img{
    max-width: 100%;
}

body {
    background-color: var(--grisclaro);   
    
}


.encabezado {
    background-color: var(--grisclaro);    
    max-width: 100%;
    height: 5rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

.encabezado-logo-a{
    color: black;
    text-decoration: none;
}

.botonera-list{
    display:flex;
    justify-content: center;

}


.botonera-list-item{
    list-style: none;
}


.botonera-list-item-a{
    display: block;
    color: black;
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
        
}


.botonera-list-item-a:hover{
    background-color: var(--azulpetro);
    color: white;
}


/*------------- MEDIA QUARES  --------- */

@media(max-width: 820px){

    .encabezado{
        display: block;
        position: static;

    }
   
    .botonera-list{
        display: block;
        
    }

    .botonera-list-item-a{
       padding: 10px;
       text-align: center;
       margin-left: 0;
       display: block;
    }

}
/* ------------------ ACA CIERRA ENCABEZADO ----------------------*/


/* ------------ CARRUCEL ----------------------- */

.carrucel{
    max-width: 75rem;
    margin: 1rem auto;
    padding: 2px ;
    border: 2px solid black;
    text-align: center;
    
}

.carrucel-img{
    opacity: 90%;
    
}

.carrucel-text {
    background-color: var(--grisclaro);
    opacity: 50%;
    padding: 2rem;
    width: 75rem;
    position: absolute;
    top: 55%;
    left: auto;
    right: auto;

}

@media(max-width: 820px){

   .carrucel-text{
        max-width: 100%;
        position: absolute;
        top: 20%;
    } 
}



 
/* -----------ACA CIERRA CARRUCEL ---------------- */

.noticias{
    text-align: center;
    margin-top: 3rem; 
    margin-left: auto;
    margin-right: auto;
    
}

.noticias-relev{
    max-width: 95%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
        
}


.noticias-relev-articulo{
    width: 28rem;
    height: 28rem;
    

}

.noticias-relev img{
    height: 17rem;
}


.noticias-relev-articulo img:hover{
    transition-duration: 1s;
    border-radius: 30%; 
    opacity: 50%;   
}


.noticias-articulo-a{
    text-decoration: none;
    color: #060606;
    text-align: center;
}


.noticias-articulo-a:hover{
    color: var(--grisoscuro);
}


.noticias-relev-articulo p{
    text-align: center;
}

.noticias-vermas{   
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size:larger;
}

.noticias-vermas:hover{
    text-decoration: underline;
}

@media(max-width: 780px){

    .noticias-relev{
        grid-template-columns: repeat(1, 1fr);
    }

    .noticias-relev-articulo{
        width: 23rem;
        height: 23rem;
        
    }
}


@media(max-width: 912px){
    .noticias-relev{
        grid-template-columns: repeat(1, 1fr);

    }
}



/* --------ACA TERMINA NOTICIAS ------------ */



.lectura{
    margin-top: 3rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

.lectura-articulo{
    max-width: 95%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.lectura-articulo-post{
    width: 28rem;
    height: 28rem;

}

.lectura-articulo-post img{
    height: 17rem;
}


.lectura-articulo-post img:hover{
    transition-duration: 1s;
    border-radius: 30%; 
    opacity: 50%;   
}


.lectura-articulo-a{
    text-decoration: none;
    color: black;
    text-align: center;
}


.lectura-articulo-a:hover{
    color: var(--grisoscuro);
}


.lectura-articulo-post p{
    text-align: center;
}

.lectura-vermas{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size:larger;
    
}

.lectura-vermas:hover{
    text-decoration: underline;
}


@media(max-width: 780px){

    .lectura-articulo{
        grid-template-columns: repeat(1, 1fr);
    }

    .lectura-articulo-post{
        width: 23rem;
        height: 23rem;
    }
}


@media(max-width: 912px){
    .lectura-articulo{
        grid-template-columns: repeat(1, 1fr);

    }

}

/* --------------- ACA CIERRA LECTURA -------------------------- */


/* ---------- SUSCRIBIRSE -------- */

.suscribite{
    background-image:linear-gradient(var(--grisclaro) 50%, var(--grisoscuro));    
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    flex-wrap: wrap;
    box-shadow: 2px 2px 2px black;
}


.suscribite h3{
    margin-right: 12rem;
}


.suscribite-email{
    width: 10rem;
}


.suscribite-boton{
    border-radius: 10%;
    padding: 5px;
}


.suscribite-boton:hover{
    background-color:var(--grisoscuro);
}

@media(max-width: 780px){

    .suscribite h3{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

/* ---------------------------- FOOTER ----------------------------- */

.piedepag{
    background-color: var(--azulfuerte);
    margin-top: 2rem;
    padding: 4rem;
    max-width: 100%;
    
}

.piedepag-lista{
    margin: 0 auto;
    width: 25rem;
    display: flex;
    justify-content: space-between;
}

.piedepag-lista-item{
    list-style: none;
}

.piedepag-lista-item-a{
    font-size: 2rem;
    color:white;
}

.piedepag-lista-item-a:hover{
 color:var(--celeste);
}

@media(max-width: 780px){

    /* .piedepag-lista{
        max-width: 100%; */
    
}


/* ========================== STYLE HTML POR QUE LUCHAMOS =========================== */

.body-pqluchamos{
    background-image: url(/img/otonio.webp);
    background-color: var(--naranja);
    background-repeat: none;
}


.pqluchamos-cuadrotext h2{
    text-align: center;
    margin-top: 2rem;
    text-decoration: underline;
}

.cuadrotext-nuestralucha{
    background-color: var(--celesteclaro);
    width: 65rem;
    margin: 1rem auto;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid black;
    box-shadow: 1px 1px 5px;

}

.cuadrotext-nuestralucha p{
    text-align: justify;
    margin-top: 8px;
}

.cuadrotext-nuestralucha img{
    box-shadow: 1px 1px 1px;
    width: 65rem;
}



/* =========================== STYLE HTML CONTACTOS ================== */

.body-contactos{
    background-color: var(--celeste);
}

.contactos-contenido{
    text-align: center;
    margin-top: 2rem;

}

.contactos-contenido h2{
    text-decoration: underline;
}

.cuerpo-contactos{
    margin: 2rem auto;
    max-width: 70rem;
    background-color: var(--grisclaro);
    text-align: center;
    border-radius: 10px;
    padding-bottom: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 5px;
}

.contactos-img{
    max-width: 70rem;
    opacity: 80%;

    
}

.cuerpo-contactos p, h3 {
    margin-top: 1rem;
}

/* ACA COMIENZA EL CSS DEL SECTOR "DENUNCIA"------------------ */


.denuncia_body{

    background-image: url(/img/wallpaper-denuncia.webp);
    background-color: var(--violeta);


}

.denuncia{

    text-align: center;
    margin-top: 2rem;
    font-size: 50px;
}

.denuncia-p{

    
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
    margin: 2rem;
    text-align: justify;

}


.cuadrotextodenuncia{

    background-color: var(--celesteclaro);
    max-width: 25rem;
    height: 26rem;
    margin: 2rem auto;
    border: 2px solid black;
    padding: 1rem;
    box-shadow: 6px 6px 30px;

}

.denuncia_enviar{
   margin-left: 19rem;
   padding: 2px 12px;
   
}

