* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
    
}

html{
    scroll-behavior: smooth;
}


:root {
    --azulfuerte:#274C77;
    --grisclaro:#E7ECEF;
    --azulpetro:#6096BA;
    --celeste:#A3CEF1;
    --grisoscuro:#8B8C89;
    --celesteclaro:rgb(207, 237, 237);
}


img{
    max-width: 100%;
}


body {
    background-color: var(--grisclaro);
   
   
    
}


.encabezado {
    background-color: var(--azulfuerte);    
    max-width: 100%;
    height: 6rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-bottom: 1px solid black;
    
}

.encabezado-busca{
 width: 250px;
}

.encabezado-boton{
    padding: 4px;
    border-radius: 15%;
    border: none;
}

.encabezado-boton:hover{
background-color: var(--azulpetro);
}



@media(max-width: 780px) {
    .encabezado{
    height: 7rem;
    }
}

/* ------------------ ACA CIERRA ENCABEZADO ---------------------- */

.botonera-list{
    display:flex;
    justify-content: center;

}


.botonera-list-item{
    list-style: none;
}


.botonera-list-item-a{
    display: block;
    color: black;
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
        
}


.botonera-list-item-a:hover{
    background-color: var(--azulpetro);
    color: white;
}


/*------------- BOTONERA MEDIA QUARES  --------- */

@media(max-width: 780px){
    .botonera-list{
        display: block;
    }

    .botonera-list-item-a{
       padding: 10px;
       text-align: center;
       margin-left: 0;
    }

}
/*--------------  ACA CIERRA BOTONERA ------------- */



/* ------------ CARRUCEL ----------------------- */

/* .carrucel{
   
    width: 70%;
    height: 70%;
    margin: 0 auto;
    padding: 2px ;
    border: 2px solid black;


} */

#container-slider
{
    position: relative;
    display: block;
    width: 100%;
}
#slider {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 500px;
}
#slider li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
    font-size: 30pt;
    color: rgba(204, 204, 204, 0.65);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2;
}
#container-slider .arrowNext {
    left: initial;
    right: 50px !important;
}
.content_slider{
    padding: 15px 30px;
    color: #FFF;
    width: 100%;
    height: 100%;
}
.content_slider div{
    text-align: center;
}
.content_slider h2{
    font-family: 'arial';
    font-size: 30pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content_slider p {
    font-size: 15pt;
    font-family: 'arial';
    color: #FFF;
    margin-bottom: 20px;
}
#slider li .content_slider{
    background: rgba(0, 0, 0, 0.50);
    padding: 10px 125px;
}
.content_slider{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSlider{
    color: #FFF;
    font-size: 15pt;
    font-family: 'arial';
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #CCC;
    background: rgba(37, 40, 80, 0.55);
    border-radius: 31px;
    text-decoration: none;
    transition: .5s all;
}
.btnSlider:hover{
    background: #111;
    border: 1px solid #111;
}
.listslider {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 5%;
    list-style: none;
    z-index: 2;
    transform: translateX(-50%);
}
.listslider li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}
.listslider li a {
    background: #CCC;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}
.item-select-slid {
    background: #FFF  !important;
}

@media screen and (max-width: 460px){
.content_slider h2 {
   font-size: 15pt !important;
}
.content_slider p {
   font-size: 12pt !important;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
font-size: 20pt;
}
#container-slider .arrowPrev{
left: 15px;
}
#container-slider .arrowNext{
right: 15px !important;
}
#slider{
height: 400px;
min-height: 400px;
}
#slider li .content_slider{
padding: 10px 35px;
}
.btnSlider{
padding: 10px 30px;
    font-size: 10pt;
}

}




 
/* -----------ACA CIERRA CARRUCEL ---------------- */

.noticias{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    max-width: 90%;   
    
}



.noticias-relev{
    max-width: 95%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}


.noticias-relev-articulo{
    /* background-color:deeppink; */
    width: 28rem;
    height: 28rem;
    /* transition: all 5s; */

}


.noticias-relev-articulo img:hover{
    transition-duration: 1s;
    border-radius: 30%; 
    opacity: 50%;   
}


.noticias-articulo-a{
    text-decoration: none;
    color: #060606;
    text-align: center;
}


.noticias-articulo-a:hover{
    color: var(--grisoscuro);
}


.noticias-relev-articulo p{
    text-align: center;
}


@media(max-width: 780px){

    .noticias-relev{
        grid-template-columns: repeat(1, 1fr);
    }

    .noticias-relev-articulo{
        width: 23rem;
        height: 23rem;
        
    }
}


@media(max-width: 912px){
    .noticias-relev{
        grid-template-columns: repeat(1, 1fr);

    }
}

/* --------ACA TERMINA NOTICIAS ------------ */

.lectura{
    /* background-color: aqua; */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 3rem; */
    max-width: 90%;
}

.lectura-articulo{
    /* background-color: rgb(43, 226, 137); */
    max-width: 95%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

}


.lectura-articulo-post{
    /*background-color:deeppink; */
    width: 28rem;
    height: 28rem;

}


.lectura-articulo-post img:hover{
    transition-duration: 1s;
    border-radius: 30%; 
    opacity: 50%;   
}


.lectura-articulo-a{
    text-decoration: none;
    color: black;
    text-align: center;
}


.lectura-articulo-a:hover{
    color: var(--grisoscuro);
}


.lectura-articulo-post p{
    text-align: center;
}


@media(max-width: 780px){

    .lectura-articulo{
        grid-template-columns: repeat(1, 1fr);
    }

    .lectura-articulo-post{
        width: 23rem;
        height: 23rem;
    }
}


@media(max-width: 912px){
    .lectura-articulo{
        grid-template-columns: repeat(1, 1fr);

    }

}

/* --------------- ACA CIERRA LECTURA -------------------------- */


/* ---------- SUSCRIBIRSE -------- */

.suscribite{
    background-image:linear-gradient(var(--grisclaro) 50%, var(--grisoscuro));
    background-color: var(--grisclaro);
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    flex-wrap: wrap;
    box-shadow: 2px 2px 2px black;
}


.suscribite h3{
    margin-right: 12rem;
}


.suscribite-email{
    width: 10rem;
}


.suscribite-boton{
    border-radius: 10%;
    padding: 5px;
}


.suscribite-boton:hover{
    background-color:var(--grisoscuro);
}

@media(max-width: 780px){

    .suscribite h3{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.piedepag{
    background-color: var(--azulfuerte);
    margin-top: 2rem;
    padding: 4rem;
    
}

.piedepag-lista{
    margin: 0 auto;
    width: 25rem;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}

.piedepag-lista-item{
    list-style: none;
}

.piedepag-lista-item-a{
    font-size: 2rem;
    color:white;
}

.piedepag-lista-item-a:hover{
 color:var(--celeste);
}

/* ========================== STYLE HTML POR QUE LUCHAMOS =========================== */

.body-pqluchamos{
    background-color: var(--celeste);
}

.cuerpo-pqLuchamos{
    margin-top: 20px;
}

.cuerpo-pqLuchamos-h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


.pqLuchamos-cuadroText{

    background-color: var(--celesteclaro);
    width: 50rem;
    height: 50rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    margin-top: 2rem;
    padding: 1rem;

}

.pqLuchamos-cuadroText p{
    margin-top: 1rem;
    text-align: justify;
}


/* =========== STYLE HTML CONTACTOS ================== */

.body-contactos{
    background-color: var(--celeste);
}

.cuerpo-contactos{
    margin: 2rem auto;
    max-width: 80rem;
    background-color: var(--celesteclaro);
    text-align: center;    
}

.contactos-img{
    max-width: 70rem;
    
}

.cuerpo-contactos p, h3 {
    margin-top: 1rem;
}
